<a href="https://colab.research.google.com/github/naokityokoyama/DS-exercises/blob/master/API_Infla%C3%A7%C3%A3o_Awari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## exercício a ser desenvolvido para a presente unidade consiste em conectar-se a uma API. O Banco Central do Brasil disponibiliza dados a respeito de diversos indicadores econômicos do país. Sua tarefa será encontrar a série histórica relativa à inflação (IPCA) na plataforma de dados abertos do BC, importá-la e transformá-la em um DataFrame do Pandas.

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados?formato=json'

In [ ]:
requisicao = requests.get(url).json()

In [ ]:
dic1 = request[0]

In [ ]:
dic1

{'data': '01/01/1991', 'valor': '20.27'}

In [ ]:
pd.DataFrame.from_dict(d, orient='index')

                0
data   01/01/1991
valor       20.27

## DataFrame da seria toda

In [ ]:
df = pd.DataFrame(data=requisicao)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    356 non-null    object
 1   valor   356 non-null    object
dtypes: object(2)
memory usage: 5.7+ KB