<a href="https://colab.research.google.com/github/naokityokoyama/DS-exercises/blob/master/Exercicios_unidade_5_Manipulacao_de_Dados_Parte_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [2]:
import pandas as pd

In [27]:
crimes = pd.read_csv('https://raw.githubusercontent.com/naokityokoyama/DS-exercises/master/datasets/US_Crime_Rates_1960_2014.csv')

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [28]:
crimes.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

In [34]:
crimes.head(1)

        Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0 1960-01-01   179323175  3384200  ...    912100        1855400         328200

[1 rows x 12 columns]

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [35]:
crimes['Year'] = pd.to_datetime(crimes['Year'], format='%Y')

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [36]:
crimes = crimes.set_index(crimes['Year'])

### Tarefa 5. Remova a coluna Total do DataFrame.

In [37]:
crimes = crimes.drop('Total', axis=1)

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [45]:
crimes[crimes['Year']=='1978-01-01']['Vehicle_Theft'].values

array([1004100])

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [56]:
crimes[crimes['Murder']==crimes['Murder'].max()]

                 Year  Population  ...  Larceny_Theft  Vehicle_Theft
Year                               ...
1991-01-01 1991-01-01   252177000  ...        8142200        1661700

[1 rows x 11 columns]

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [63]:
crimes[crimes['Vehicle_Theft']==crimes['Vehicle_Theft'].min()]['Murder'].values

array([9110])

**Parabéns! Você chegou ao fim**